.profile-card {
  background-color: hsla(60, 100%, 50%, .4);
}

.head {
  background-color: rgba(0, 255, 0, 0);
}
.content {
  background-color: rgba(239, 240, 245, 0);
}

.profile-image {
  background-color: rgba(255, 0, 255, 0);
}

.name-headline {
  background-color: rgba(255, 0, 255, 0);
}

.about {
  background-color: rgba(17, 2, 17, 0);
}

.links {
  background-color: rgba(247, 241, 247, 0);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}
  img {
    width: 150px;
height: auto;
transition: all 0.5s ease-in-out;
border: 5px solid rgb(12, 0, 0);
  border-bottom: 5px solid rgb(14, 0, 0);
  }
  img:hover {
    filter: grayscale(20%);
    transform: scale(1.1);
  }
  body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(assets/american-flag.jpg) no-repeat center center fixed;
  background-size: cover;
  font-family: "Times New Roman";
  }
  .head, .links {
text-align: center;

  }
  .profile-card {
  background-color: rgba(170, 166, 149, 0.712);
  border-radius: 5px;
  box-shadow: rgba(221, 4, 4, 0.8) 10px 10px 100px;
  width: 380px;
  max-width: calc(100vw - 10px);
  height: 500px;
}
ul {
  list-style-type: none;
}
li {
  display: inline;
}

.head, .content {
  width: 90%;
  margin: 0 auto;
}
.content, .links {
  position: relative;
  top: 25px;
}
h1 {
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.h2 {
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  color:rgb(17, 0, 255);
}
span {
  color:rgba(32, 32, 28, 0.87);
}
.from {
font-size: 16px;
font-style: oblique;
font-weight: 600;
color:rgba(221, 4, 4, 0.8);
text-align: center;
}
.fa {
  color:black;
}
p {
  font-size: 16px;
  font-family: "Times New Roman", "Times, serif";
font-weight: 530;
text-align:justify;
  word-spacing: -0.1em;
}
h2 {
  font-size: 18px;

}
ul {
  border-right: 2px outset rgba(0,0,0,0.49);
border-radius: 4px;
border-bottom: 2px outset rgba(0,0,0,0.49);
border-left: 2px outset rgba(0,0,0,0.96);
border-top: 2px outset rgba(0,0,0,0.96);
width: 100px;
margin: auto;
opacity:0.6;
  transition: all 0.5s ease-in-out;
}
